body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 3px solid black;
  margin-bottom: 10px;
}

.header .logo{
  flex-grow: 2;
  display: flex;
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.header .logo span{
  display: block;
  font-size: 78px;
  font-weight: bold;
}

.header .logo,
.header nav{
  flex: 1 1 auto;
}

.header nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;
}

.header li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
.header li a{
 color: black;
 text-decoration: none;
}

.header li a:hover{
color: rgb(221, 101, 9);
transition: all 300ms;
}

.layout{
  width: 85%;
  margin: 0 auto;
}

.footer{
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  border-top: 3px solid black;
  padding-top: 25px;
}

.activado {
  color: rgb(221, 101, 9) !important;
}

.home h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0px;
}

.home .a_principal a{
  transition: all 300ms;
}

.home .a_principal a:hover{
  padding: 3px;
  background-color: rgb(221, 101, 9);
  border-radius: 7px;
  color: white;
}

.home strong{
  color:rgb(221, 101, 9);
}

.home h2{
  color:rgb(78, 77, 77);
  font-weight: lighter;
}

.home p{
  color:rgb(78, 77, 77);
}


.home .heading,
.page .heading{
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}

.page .heading{
  font-size: 45px;
  font-weight: bold;
}


input[type="text"],
textarea{
  display: block;
  padding: 15px;
  width: 250px;
  margin: 10px;
}

input[type="submit"],
button{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: 0px;
  cursor: pointer;
  transition: 0.5s;
}


input[type="submit"]:hover{
  background-color: rgb(221, 101, 9);
  transform: scale(1.1,1.1);
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  flex-basis: 28%;
   flex-grow: 1; /*Hace que todos los elementos tengan el mismo espacio */
   margin: 30px;
}

.work-item img{
  width: 100%;
}
.work-item h2{
  display: block;
  color: black;
  margin-top: 5px;
  font-size: 30px;
}

.work-item .mask{
  width: 100%;
  height: 250px;
  overflow: hidden; /*Cuando un elemento toma mas tamaño de lo establecido con eso lo oculta dentro de la card*/
  box-shadow: 0px 5px 14px #ddd;
}

.work-item span{
  display: block;
  color: gray;
  margin-top: 35px;
}

.work-item a{
  text-decoration: none;
  color: black;
  transition:all 300ms;
}

.work-item a:hover{
  color:rgb(221, 101, 9);
}

.work-item h3{
  margin-top: -20px;
}

  






